
@{
    ViewBag.Title = "wrong";
}

<h1> Try to Login with correct User Name or Password </h1>

<hr/>

<a href="@Url.Action("AdminLogin","Home")" class="btn btn-warning">Click Here to Login Again </a>

